{% extends 'base.html.twig' %}

{% block body %}

    <h1>Забронировать номер</h1>

    {% if message is defined %}
        {{ message }}
    {% endif %}

    {% if dates is defined %}

        <table>
            <tr>
                <th>
                    Доступные даты
                </th>
                <th>
                    &nbsp;
                </th>
            </tr>

        {% for date in dates %}

            <tr>
                <td>
                    {{ date.date }}
                </td>
                <td>
                    <a href="{{ path('booking_register', {'restPlace': place, 'date': date.date, 'apartment': date.apartment}) }}">Забронировать</a>
                </td>
            </tr>

        {% endfor %}

        </table>

    {% endif %}

    <br/><br/><br/><br/><a href="{{ path('catalog') }}">Назад к каталогу >> </a>

{% endblock %}

{% block title %}

{% endblock %}

