{% extends 'base.html.twig' %}

{% block body %}

    <h1>Каталог</h1>

    {% if 'ROLE_LANDLORD' in user.roles %}
        <div style = "border: 1px solid #cccccc; padding:20px;background: #efefef;margin: 20px;">
           <h4><a class="btn btn-dark" href="{{ path('new_rest_place') }}">Зарегистрировать новое место отдыха</a></h4>
        </div>
    {% endif %}

    <table cellpadding="20">

        {% for place in places %}
            <tr>
                <td>
                    {% if place.type == 'sanatorium' %}
                        <br/><img src="images/city-copy-1410790343gn84k.png" width="200"/>
                    {% elseif place.type == 'hotel' %}
                        <br/><img src="images/4-star-hotel.png" width="200"/>
                    {% endif %}
                </td>
                <td>
                    <h3>{{ place.placeName }}</h3>
                    <p>Количество номеров: {{ place.apartmentCount }}</p>
                    <p>Контактное лицо: {{ place.contactPerson }}</p>
                    <p>Телефон: {{ place.phone }}</p>
                    <p>Адрес: {{ place.address }}</p>
                    <p>Цена: {{ place.price }} сом</p>
                    {%  if place.type == 'sanatorium'  %}
                        <p>Лечение <img src="images/{{ place.treatment }}.png"/></p>
                        <p>Экскурсии <img src="images/{{ place.excursion }}.png"/></p>
                    {% elseif place.type == 'hotel' %}
                        <p>Кухня <img src="images/{{ place.kitchen }}.png"/></p>
                        <p>Свой пляж <img src="images/{{ place.selfPlage }}.png"/></p>
                    {% endif %}
                </td>

                {% if 'ROLE_TENANT' in user.roles %}
                    <td>
                        <h4><a class="btn btn-dark" href="{{ path('booking', {'restPlace':place.placeId, 'apartmentCount':place.apartmentCount}) }}">Забронировать номер</a></h4>
                    </td>
                {% endif %}

            </tr>
        {% endfor %}

    </table>

{% endblock %}

{% block title %}

{% endblock %}

